.button{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white);
    background: var(--primary);
    padding: 15px;
    border-radius: 5px;
    transition: .3s;
}
.button:disabled{
    background: rgb(151, 151, 151);
    color: var(--white);
}
.gray{
    color: var(--primary);
    background: var(--gray);
}
.primary{
    color: var(--white);
    background: var(--primary);
}
.white{
    color: var(--primary);
    background: var(--white);
}
.light{
    color: var(--white);
    background: var(--light);
}
.button:hover{
    filter: brightness(.4);
}