.header{
    width: 100vw;
    background: var(--light);
    border-radius: 0px 0px 10px 10px;
}
.links{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
}
.center{

}
.content{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}