.field{
    display: grid;
    grid-auto-rows: max-content;
    gap: 10px;
}   
.input{
    padding: 15px;
    background: var(--gray);
    border: 2px solid var(--primary);
    border-radius: 5px;
}
.input.error{
    border-color: red;
}
.input.error::placeholder{
    color: red;
}
.error{
    color: red;
}